* {
  padding: 0;
  margin: 0;
}
.container {
  text-align: center;
  padding: 20px;
}
.container h1 {
  font-size: 60px;
  color: aquamarine;
  margin-top: 50px;
}
.container p {
  color: aquamarine;
  font-size: 25px;
  margin-top: 10px;
}
.btn {
  font-size: larger;
  padding: 15px 25px;
  border: none;
  outline: none;
  background-color: aquamarine;
  color: cornsilk;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  margin-bottom: 30px;
}
.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-gap: 1em;
}
.images img {
  border: 5px solid aquamarine;
}
